server:
  port: 8000

  profiles:
    active: default

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: ${EUREKA_DEFAULTZONE}

spring:
  application:
    name: api-gateway

  data:
    redis:
      host: ${EC2_HOST_INFRA_PRIVATE}
      port: 6379
      timeout: 2s

  cloud:
    discovery:
      enabled: true

    loadbalancer:
      ribbon:
        enabled: false

    gateway:
      config:
        ratelimit:
          replenish: ${RATE_LIMIT_REPLENISH:5}
          burst: ${RATE_LIMIT_BURST:10}
          tokens: ${RATE_LIMIT_TOKENS:1}
      _shared:
        filters:
          rl_common: &rl_common
            name: RequestRateLimiter
            args:
              key-resolver: '#{@ipKeyResolver}'
              redis-rate-limiter.replenishRate: ${spring.cloud.gateway.config.ratelimit.replenish}
              redis-rate-limiter.burstCapacity: ${spring.cloud.gateway.config.ratelimit.burst}
              redis-rate-limiter.requestedTokens: ${spring.cloud.gateway.config.ratelimit.tokens}
      server:
        webflux:
          routes:
            # === USER SERVICE ===
            - id: user-service-swagger
              uri: lb://USER-SERVICE
              predicates:
                - Path=/user-service/v3/api-docs
              filters:
                - RewritePath=/user-service/(?<segment>.*), /${segment}

            # OAuth2 인증 불필요 경로 (GET 메소드)
            - id: user-service-oauth2
              uri: lb://USER-SERVICE
              predicates:
                - Path=/user-service/oauth2/authorization/github, /user-service/login/oauth2/code/github, /user-service/users, /user-service/users/role, /user-service/users/role/all,, /user-service/alarm/**, /user-service/users/page
                - Method=GET
              filters:
                - RewritePath=/user-service/(?<segment>.*), /${segment}
                - *rl_common

            # 인증 불필요 경로 (POST 메소드)
            - id: user-service-unauthenticated
              uri: lb://USER-SERVICE
              predicates:
                - Path=/user-service/users, /user-service/users/login, /user-service/token/reissue, /api/s3/presigned-url, /user-service/users/auth/verification-code, /user-service/users/auth/reset-password
                - Method=POST
              filters:
                - RewritePath=/user-service/(?<segment>.*), /${segment}
                - *rl_common

            # 인증 필요 경로
            - id: user-service-authenticated
              uri: lb://USER-SERVICE
              predicates:
                - Path=/user-service/**
              filters:
                - name: JwtAuthenticationFilter
                - RewritePath=/user-service/(?<segment>.*), /${segment}
                - *rl_common

            # === PROJECT SERVICE ===
            - id: project-service-swagger
              uri: lb://PROJECT-SERVICE
              predicates:
                - Path=/project-service/v3/api-docs
              filters:
                - RewritePath=/project-service/(?<segment>.*), /${segment}

            - id: project-service-authenticated
              uri: lb://PROJECT-SERVICE
              predicates:
                - Path=/project-service/**
              filters:
                - RewritePath=/project-service/(?<segment>.*), /${segment}
                - *rl_common

            # === NEWSLETTER SERVICE ===
            - id: newsletter-service-unauthenticated
              uri: lb://NEWSLETTER-SERVICE
              predicates:
                - Path=/newsletter-service/**
              filters:
                - RewritePath=/newsletter-service/(?<segment>.*), /${segment}
                - *rl_common

            # === CHAT SERVICE ===
            - id: meta-service-unauthenticated
              uri: lb://META-SERVICE
              predicates:
                - Path=/meta-service/**
              filters:
                - RewritePath=/meta-service/(?<segment>.*), /${segment}
                - *rl_common

            # === ARCHIVE SERVICE ===
            - id: archive-service-swagger
              uri: lb://ARCHIVE-SERVICE
              predicates:
                - Path=/archive-service/v3/api-docs
              filters:
                - RewritePath=/archive-service/(?<segment>.*), /${segment}
                - *rl_common

            - id: archive-service-unauthenticated
              uri: lb://ARCHIVE-SERVICE
              predicates:
                - Path=/archive-service/news/health, /archive-service/news/offset, /archive-service/news/cursor, /archive-service/news/{newsId}, /archive-service/cs-knowledge/offset, /archive-service/cs-knowledge/cursor, /archive-service/cs-knowledge/{csKnowledgeId}, /archive-service/cs-knowledge/{csKnowledgeId}/exists, /archive-service/cs-knowledge/category_**, /archive-service/cs-knowledge/unsent
                - Method=GET
              filters:
                - RewritePath=/archive-service/(?<segment>.*), /${segment}
                - *rl_common

            - id: archive-service-authenticated
              uri: lb://ARCHIVE-SERVICE
              predicates:
                - Path=/archive-service/**
              filters:
                - name: JwtAuthenticationFilter
                - RewritePath=/archive-service/(?<segment>.*), /${segment}
                - *rl_common

            # === ELASTIC SERVICE ===
            - id: elastic-service-unauthenticated
              uri: lb://ELASTIC-SERVICE
              predicates:
                - Path=/elastic-service/**
              filters:
                - RewritePath=/elastic-service/(?<segment>.*), /${segment}
                - *rl_common

jwt:
  secret: ${JWT_SECRET}
  expiration: 86400000

springdoc:
  swagger-ui:
    use-root-path: true
    persist-authorization: true
    urls:
      - name: newsletter-service
        url: http://${EC2_HOST_APP}:8000/newsletter-service/v3/api-docs
      - name: project-service
        url: http://${EC2_HOST_APP}:8000/project-service/v3/api-docs
      - name: archive-service
        url: http://${EC2_HOST_APP}:8000/archive-service/v3/api-docs
      - name: user-service
        url: http://${EC2_HOST_APP}:8000/user-service/v3/api-docs
      - name: meta-service
        url: http://${EC2_HOST_APP}:8000/meta-service/v3/api-docs
      - name: elastic-service
        url: http://${EC2_HOST_APP}:8000/elastic-service/v3/api-docs